body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #E0F7F9; /* 배경색 설정 */
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 1000px;
}

.food-item {
    text-align: center;
    margin: 0 40px; /* 좌우 여백 증가 */
}

.food-item img {
    width: 550px;  /* 이미지 크기를 더 키움 */
    height: auto;
    border-radius: 10px;
    box-shadow: none; /* 그림자를 제거했습니다 */
}

.select-button {
    display: block;
    margin: 20px auto; /* 버튼 간격 증가 */
    padding: 15px 30px; /* 버튼 크기 증가 */
    font-size: 20px; /* 버튼 텍스트 크기 증가 */
    color: #333;
    background-color: #fff;
    border: 2px solid #333;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.select-button:hover {
    background-color: #f0f0f0;
}

.vs-text {
    font-size: 48px; /* "VS" 텍스트 크기 증가 */
    font-weight: bold;
    margin: 0 40px; /* VS 텍스트 좌우 여백 증가 */
    color: #333;
}